
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Golf Corner</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
</body>

<nav class="navbar">
    <a class="logo" href="/"><img class="img-logo" src="../logo.png" alt="LeGolfCorner">Le Golf Corner</a>
    <ul class="onglet">
        <li><a href="/">Le coin Shop</a></li>
        <li><a href="/">Le coin Connection</a></li>
        <li><a href="/">Le coin Contact</a></li>
    </ul>
</nav>