<%- include('partials/header') -%>
    <div class="titre-compte">
        <h2>Votre compte</h2>
    </div>
    <div class="block-compte">
        <a class="choix-compte" href="">
            

                <h3>Vos commandes</h3>
                Consulter, suivre les commandes en cours.

            
        </a>
        <a class="choix-compte" href="">
            

                <h3>Vos adresses</h3>
                Modifier les adresses et les préférences de livraison des commandes.

            
        </a>
        <a class="choix-compte" href="">
            

                <h3>Vos paiements</h3>
                Gérer les modes de paiement et les paramètres, afficher les soldes et les
                offres.

            
        </a>
    </div>


    <%- include('partials/footer') -%>