<%- include('partials/header') -%>

<div class="block-connexion">
    
    <div class="changer-mdp">
        <h2>Paramètres de Connexion</h2>
        <form class="co-form" action="">
            <label>Votre pseudo : </label>
            <input type="text" name="pseudo" disabled>
            <label>Email : </label>
            <input type="text" name="changement-mdp" disabled>
            <label>Mot de passe : </label>
            <input type="text" name="changement-mdp" disabled>
        </form>

    </div>
</div>


<%- include('partials/footer') -%>