<%- include('partials/header') -%>
<div class="container">
    <div class="carte">
        <div class="image">
            <img class="img-produit" src="../Serie fer mizuno-mp20.jpg" alt="series Callaway">
        </div>
        <div class="produit">
            <div class="description">
                <h3 class="titre">Serie de fer Mizuno MP20</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img class="img-produit" src="../Serie fer mizuno-mp20.jpg" alt="series Callaway">
        </div>
        <div class="produit">
            <div class="description">
                <h3 class="titre">Serie de fer Mizuno MP20</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="carte">
        <div class="image">
            <img class="img-produit" src="../Serie fer mizuno-mp20.jpg" alt="series Callaway">
        </div>
        <div class="produit">
            <div class="description">
                <h3 class="titre">Serie de fer Mizuno MP20</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="carte">
    <div class="image">
        <img class="img-produit" src="../Serie fer mizuno-mp20.jpg" alt="series Callaway">
    </div>
    <div class="produit">
            <div class="description">
                <h3 class="titre">Serie de fer Mizuno MP20</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>



<%- include('partials/footer') -%>