<%- include('partials/header') -%>
<div class="container">
    <div class="introduction">
        <h1>Introduction</h1>
        <p>Bienvenue sur notre plateforme d'achat/vente et échange pour le matériel de golf.
            Nous sommes aussi concepteur de jeu dans le but de pouvoir pratiquer le golf chez soi.
        </p>
        <button class="bouton" type="submit">Voir nos produits</button>
    </div>
</div>

<%- include('partials/footer') -%>











