<%- include('partials/header') -%>

<form class="signup">
    <h2>Enregistrement</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    <label for="password">Mot de passe</label>
    <input type="password" name="password" required>
    <div class="password error"></div>

    <button class="bouton">S'enregistrer</button>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();

        //Obtenir les valeurs
        const email = form.email.value;
        const password = form.password.value;

        console.log(email, password)
    })
</script>

<%- include('partials/footer') -%>